/*resetStyle*/
html,
body,
div,
span,
p,
dl,
dt,
dd,
ul,
ol,
li,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
h1,
h2,
h3,
h4,
h5,
h6,
img,
a,
strong,
form,
fieldset,
input,
textarea,
select,
table,
option,
blockquote,
pre {
  margin: 0;
  padding: 0
}


.clearflex {
  *zoom: 1;
}

.clearflex:after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

.textR {
  text-align: right;
}

.textL {
  text-align: left;
}

.textC {
  text-align: center;
}

.searchTop {
  width: 100%;
  border-bottom: 10px solid #e9eef3;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #ebebeb;
  position: absolute;
  right: 0;
  bottom: 0;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ebebeb;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #24232352;
}
/* 
.informForm .el-select,
.informForm .el-date-editor,
.informForm .el-cascader {
  width: 100%;
} */
.buttonList .el-select {
  width: 20%;
}

.success {
  color: #008000;
}


.executing{
  border-radius: 50px;
  background-color: #ffcc00;
  color: #fff;
}
.warning {
  color: #ff0000;
}

.el-main {
  padding: 10px;
}

.searchForm {
  margin-top: 20px;
  text-align: left;
}

.el-dialog__header {
  text-align: left;
  border-bottom: 1px solid;
  padding: 20px 20px 10px;
}
.el-dialog__body {
  padding: 20px;
}

.el-dialog__body .name {
  line-height: 80px;
  text-align: left;
  font-size: 16px;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 100% !important;
}
.el-select {
  width: 100%;
}

.el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf {
  text-align: center;
}

.el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
  background-color: #409eff;
  color: #ffffff;
}

.el-tabs__item:hover {
  background-color: #409eff;
  color: #ffffff;
}


/* 表格底部分页样式 */
.com-pagination{
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: right;
}
/* .el-form-item {
  margin-bottom: 10px;
} */

.el-form-item__label {
  color: #000000;
  line-height: 30px;
}

.el-form-item__content {
  text-align: left;
  line-height: 30px;
}
.el-input__inner {
  height: 30px;
}
.el-input__icon {
  line-height: 30px;
}
.el-date-editor .el-range__icon {
  line-height: 22px;
}
.el-date-editor .el-range-separator {
  line-height: 22px;
}
.el-cascader {
  line-height: 30px;
}

.el-table .el-table__cell {
  padding: 6px 0;
}